html, body {
  margin: 0;
}

body {
  background-color: #D1D4DB;
}

@font-face {
  font-family: 'Montserrat';
  src: url(Montserrat-Black.ttf);
}

header {
  position: absolute;
  top: 0;
  height: 80px;
  width: 100%;
  background-color: #8B8BAE;
  border-bottom: 2px solid #6B6C7A;
}

h1 {
  position: relative;
  font-family: 'Montserrat';
  font-weight: 500;
  text-align: left;
  color: white;
  font-size: 32px;
  margin-left: 20px;
}

h3 {
  position: relative;
  font-weight: 600;
  text-align: center;
}

.cv-info{
  background-color: #ffffff;
  width: 700px;
  height: 800px;
  position: absolute;
  left: 5%;
  top: 10%;
  box-shadow: 2px 2px #C3C5D5;
}

#general-info-container {
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

#general-info-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#fn-container {
  grid-column-start: 1;
  grid-column-end: 1;
  height: 24px;
  margin-bottom: 33px;
}

#ln-container {
  grid-column-start: 2;
  grid-column-end: 2;
  height: 24px;
  margin-bottom: 33px;
}

#email-container {
  grid-column-start: 1;
  grid-column-end: 1;
  height: 24px;
  margin-bottom: 33px;
}

#phone-container {
  grid-column-start: 1;
  grid-column-end: 1;
  height: 24px;
  margin-bottom: 33px;
}

#description-container {
  grid-column: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 24px;
  margin-bottom: 33px;
}

textarea {
  height: 80px;
  width: 180px;
  font-family: 'Courier New', Courier, monospace;
  color: #0D0707;
  font-weight: 600;
  background-color: #d1d4db79;
  resize: none;
  
}

label {
  line-height: 20px;
  text-align: right;
  margin: 0 5px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  align-self: center;

}

.child-container > input {
  width: 200px;
  justify-self: left;
  background-color: #d1d4db79;
  border: 1px solid black;
  height: 22px;
  width: 180px;
  align-self: center;
  font-family: 'Courier New', Courier, monospace;
  color: #0D0707;
  font-weight: 600;

}

#submit {
  width: 50px;
  margin-top: 50px;
  float: right;
  margin-bottom: 5px;
  margin-right: 5px;
}

.child-container {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 30% 70%;
}

span {
  grid-column-start: 2;
  text-align: center;
  width: 186px;
  justify-self: left;
  font-size: 80%;
  color: white;
  font-weight: 600;
  background-color: #F05365;
  border-radius: 3px;
}

#hr-1 {
  width: 640px;
  margin: 0 auto;
  margin-top: 71px;
}

#hr-2 {
  width: 640px;
  margin: 0 auto;
  margin-top: 21px;
}

#education-container {
  margin-top: 10px;
}

#education-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#school-container {
  grid-column: span 2;
  margin-bottom: 33px;
  text-align: left;
  position: relative;
  display: block;
  left: 44px;
  height: 24px;
}

#school-error {
  display: block;
  width: 537px;
  margin-left: 61px;
}

#school-container input { 
  width: 530px;
}

#subject-container {
  grid-column-start: 1;
  grid-column-end: 1;
  margin-bottom: 33px;
  height: 24px;
}

#degree-container {
  grid-column-start: 2;
  grid-column-end: 2;
  margin-bottom: 33px;
  height: 24px;
}

.hidden {
  opacity: 0;
  display: none;
  visibility: none;
  z-index: -1;
}

#education-submit {
  display: block;
  position: relative;
  margin: 0 auto;
  grid-column: span 2;
  margin-top: 25px;
}

#education-submit:hover {
  cursor: pointer;;
  background-color: #C3C5D5;
  border: 2px solid black;
}

#cv-display {
  background-color: #ffffff;
  width: 700px;
  height: 800px;
  position: absolute;
  right: 5%;
  top: 10%;
  box-shadow: 2px 2px #C3C5D5;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 10% 90%;
}

#name-display {
  grid-row: 1 ;
  grid-column: span 2;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 1fr 1fr ;
  background-color: #4D4E5B;
}

#d-full-name {
  grid-column: 1;
  grid-row: span 2;
  text-align: left;
  font-family: 'Montserrat';
  align-self: center;
  color: white;
  font-size: 22px;
  margin-left: 22px;
}

.fa-user {
  grid-column: 2;
  grid-row: span 2;
  text-align: center;
  font-size: 40px;
  align-self: center;
  color: white;
}

#contact-display {
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8% 2% 8% 2%;
  text-align: center;
}

#d-email-title {
  grid-row: 1;
  text-decoration: underline;
  font-size: 15px;
  align-self: center;
}

#d-email {
  grid-row: 2;
  font-size: 12px;
  align-self: center;
}
#d-phone-title {
  grid-row: 3;
  text-decoration: underline;
  font-size: 15px;
  align-self: center;
}

#d-phone {
  grid-row: 4;
  font-size: 12px;
  align-self: center;
}

#main-display {
  grid-column: 1;
  grid-row: 2;
  width: 100%;
}

.display-headers {
  text-align: left;
  font-size: 20px;
  margin-bottom: 1px;
  margin-left: 22px;
  grid-column: span 2;
}

.display-hr {
  margin: 0 auto;
  width: 480px;
  grid-column: span 2;
}

#description-display {
  position: relative;
  display: block;
  margin: 0px 22px;
  margin-top: 20px;
  text-align: left;
  grid-row: 1;
  grid-column: 1;
  width: 450px;
  height: fit-content;
}

#education-details-container {  
  grid-column: 1;
  grid-row: 1;
  height: fit-content;
  width: 100%;
}

.education-details {
  display: grid;
  grid-template-columns: 25% 30% 200px 100px;
  grid-template-rows: 100px;
}

#education-detail-date-container {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  text-align: center;
}

.education-detail-date {
  display: inline-block;
  font-weight: bold;
}

.education-detail-school {
  grid-column: 2;
  text-align: center;
  align-self: center;
}

.education-detail-specifics {
  text-align: center;
}

.education-detail-subject {
  grid-column: 3;
  align-self: flex-start;
  margin-top: 26px;
}

.education-detail-degree {
  grid-column: 3;
  align-self: flex-end;
}

.fa-sticky-note {
  grid-column: 4;
  font-size: 20px;
  align-self: center;
  margin: 0 auto;
  color: #4D4E5B;
}

.fa-sticky-note:hover {
  cursor: pointer;
  color: #A2D897;
}

.fa-minus-square {
  grid-column: 5;
  font-size: 20px;
  align-self: center;
  margin: 0 auto;
  color: #4D4E5B;
}

.fa-minus-square:hover {
  cursor: pointer;
  color: #F05365;
}

#edit-education-details {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4d4e5bfa;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  color: white;
}

#edit-experience-details {
  position: absolute;
  height: 500px;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4d4e5bfa;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  color: white;
}

#operations {
  align-self: flex-end;
}

.fa-window-close {
  position: absolute;
  font-size: 20px;
  left: 10px;
  bottom: 10px;
}

.fa-check-square {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 20px;
}

.fa-window-close:hover {
  cursor: pointer;
  color: #F05365;
}

.fa-check-square:hover {
  cursor: pointer;
  color: #A2D897;
}

#experience-container {
  margin-top: 10px;
}

#experience-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#experience-submit {
  display: block;
  position: relative;
  margin: 0 auto;
  grid-column: span 2;
  margin-top: 25px;
}

#experience-submit:hover {
  cursor: pointer;;
  background-color: #C3C5D5;
  border: 2px solid black;
}
#position-container {
  grid-column: span 2;
  margin-bottom: 33px;
  text-align: left;
  position: relative;
  display: block;
  left: 44px;
  height: 24px;
}

#position-error {
  display: block;
  width: 537px;
  margin-left: 74px;
}

#position-container input { 
  width: 530px;
}

#company-container {
  grid-column-start: 1;
  grid-column-end: 1;
  margin-bottom: 33px;
  height: 24px;
}

#city-container {
  grid-column-start: 2;
  grid-column-end: 2;
  margin-bottom: 33px;
  height: 24px;
}

#experience-details-container {  
  grid-column: 1;
  grid-row: 1;
  height: fit-content;
  width: 100%;
}

.experience-details {
  display: grid;
  grid-template-columns: 25% 30% 200px 100px;
  grid-template-rows: 100px;
}

#experience-detail-date-container {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  text-align: center;
}

.experience-detail-date {
  display: inline-block;
  font-weight: bold;
}

.experience-detail-position {
  grid-column: 2;
  text-align: center;
  align-self: center;
}

.experience-detail-specifics {
  text-align: center;
}

.experience-detail-company {
  grid-column: 3;
  align-self: flex-start;
  margin-top: 26px;
}

.experience-detail-city {
  grid-column: 3;
  align-self: flex-end;
}